.available {
  display: flex;
  align-content: space-between;
  justify-content: space-evenly;
  margin: 16px -3px 0px -200px;
}
.available-heading {
  height: 25px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  align-items: flex-end;
  color: #1a1a1a;
  margin: 24px 24px 24px 24px;
}
.star-container {
  margin-top: 12px;
}
